:root{
  --color: #16213E;
  --seccolor: #1A1A2E;
  --tertcolor: #E94560;
  --hover: 2px 2px 40px var(--seccolor);
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--color);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: var(--seccolor);
}

nav ul{
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

.left{
  font-size: 1.5rem;
  font-weight: 600;
}

.first{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0px;
}

.first>div{
  width: 30%;
}

.leftsection{
  font-size: 25px;
  //margin: 80px 0px;
  font-weight: 600;
}

.leftsection:hover{
  box-shadow: var(--hover);
}

.rightsection img{
  margin: 30px 0px;
  padding: 20px 0px;
}

.rightsection img:hover{
  box-shadow: var(--hover);
}

.name{
  color: var(--tertcolor);
  text-shadow: 2px 2px 4px crimson;
}

nav ul a{
  text-decoration: none;
  color: white;
}

nav ul a:hover{
  color: lavender;
  font-size: 1.1rem;
}

#element{
  color: var(--tertcolor);
}

.second{
  max-width: 80vw;
  margin: auto;
  font-size: 1.5rem;
  height: 500px;
}

.second:hover{
  box-shadow: var(--hover);
}

hr{
  border: 0;
  background: #9c97f1;
  height: 0.6px;
  margin: 60px 80px;
}

.color-gray , .vertical-desc{
  color: #7DA0CA;
}

.second .box{
  width: 80vw;
  height: 2px;
  background-color: white;
  margin: 60px 0px;
  display: flex;
  justify-content: flex-start;
}

.second .vertical{
  height: 80px;
  width: 2px;
  background-color: white;
  margin: 0vh 7.4vw;
}

.vertical-title{
  position: relative;
  top: 60px;
  width: 120px;
  font-size: 1.2rem;
}

.vertical-desc{
  position: relative;
  top: 75px;
  width: 120px;
  font-size: 9px;
}

.image{
  width: 20px;
  position: relative;
  top: -30px;
  left: -9px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  height: 70px;
  background-color:var(--seccolor);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
}

footer a {
  color: #E0E0E0;
  text-decoration: none;
  font-size: 16px;
}

footer a:hover {
  text-decoration: underline;
}

footer .copyright {
  font-size: 14px;
}
